/* <!-- Matheus Arcangelo Pestana --> */

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#nav {
    height: 10vh;
    background-color: #314073;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#navbar {
    display: flex;
}

#navbar p {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    color: white;
}

.back-btn {
    background-color: #ffffff;
    border: solid 1px white;
    color: #314073;
    font-weight: bold;
    font-size: .8rem;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: .15s;
}

.back-btn:hover {
    background-color: #314073;
    border: solid 1px white;
    color: white;
    transition: .15s;
}

#menu-container {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.hamburguer:hover {
    text-shadow: 5px 5px #000
}

#menu {
    display: flex;
    justify-content: center;
    align-items: c;
}

#menu a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

#menu a:hover {
    background-color: white;
    color: #314073;
}

#menu.show {
    display: block;
}

main {
    width: 100%;
    padding-bottom: 15vh;
    display: flex;
}

#clique {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#clique h1 {
    font-size: 2em;
    padding: 20px;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background-color: #314073;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
}

#footer p {
    padding: 20px;
    font-weight: bold;
    font-size: auto;
    margin: 0;
    color: white;
}

#footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer ul li img {
    flex-shrink: 1;
    width: 30px;
    margin: 10px;
    transition: .2s;
}

#footer ul li img:hover {
    transform: scale(1.1);
    transition: .2s;
}

@media screen and (max-width: 800px) {
    .hamburger {
        display: block;
        order: 1;
    }

    #menu-container {
        display: flex;
        flex-direction: column;
    }

    #menu {
        order: 2;
        display: none;
        margin-top: 10px;
    }

    #menu a {
        display: block;
        text-decoration: none;
        background-color: #314073;
        color: white;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    #menu a:hover {
        background-color: #f9f9f9;
    }

    #menu.show {
        display: block;
    }
}
